@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-border-blue: #2d3e6b;
  --color-light-gray: #f3f4f7;
  --color-lighter-gray: #1f32620d;
  --color-dark-blue: #1f3262;
  --color-darker-blue: #1e2b4d;
  --color-turquoise-surf: #00b2d6;
  --color-dark-gray: #404040;
  --color-neutral-gray: #6a6a6a;
  --color-alice-blue: #ebf7fb;
  --color-neutral-jet: #1c1c1c;
  --color-light-orange: #f89848;

  --default-font-family: "Inter";
  --font-family-inter: "Inter";

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.25rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.375rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.5rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 2.25rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.5rem;
  --text-4xl: 2.75rem;
  --text-4xl--line-height: 3.25rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}

@layer components {
  /* Primary button styles */
  .primary-btn {
    background: linear-gradient(90deg, #7b0848 10%, #a41256 100%);
    @apply rounded-full cursor-pointer text-white
           text-xs font-bold px-3 py-1.5
           md:text-sm md:px-6 md:py-3
           inline-flex items-center justify-center gap-0 
           transition-all duration-800 ease-out;
  }
  .primary-btn-dot {
    @apply h-2 w-2 rounded-full bg-white hidden;
  }

  .secondary-btn {
    @apply bg-darker-blue text-white rounded-full text-sm font-bold px-6 py-3;
  }

  .outline-btn {
    @apply border border-dark-blue/30 bg-white text-dark-blue rounded-full text-base font-bold px-8 py-4;
  }

  .contact-us-btn {
    @apply rounded-full bg-neutral-jet/40 text-white text-sm font-bold px-4 py-2;
  }

  .card {
    @apply rounded-lg bg-white border p-4 gap-4 border-lighter-gray/7;
  }

  .card-shadow {
    box-shadow: 0px 2px 32px 12px #14142b08;
  }

  /* Navigation link styles */
  .nav-item {
    @apply flex h-full px-4 transition-all duration-500 ease-out;
  }
  .nav-item[data-active="true"] {
    @apply bg-darker-blue;
  }
  .nav-link {
    @apply relative flex items-center gap-2 text-sm font-bold text-white;
  }
  .nav-link-dot {
    @apply h-1.5 w-1.5 rounded-full bg-turquoise-surf hidden data-[active=true]:block;
  }

  /* Hover effect for devices that support hover like desktop and laptop */
  @media (hover: hover) {
    .primary-btn:hover {
      @apply gap-2;
    }
    .primary-btn:hover .primary-btn-dot {
      @apply block;
    }

    .nav-item:hover {
      @apply bg-darker-blue;
    }
    .nav-link:hover .nav-link-dot {
      @apply block;
    }
  }
}
