@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-border-blue: #2d3e6b;
  --color-light-gray: #f3f4f7;
  --color-lighter-gray: #1f32620d;
  --color-dark-blue: #1f3262;
  --color-darker-blue: #1e2b4d;
  --color-turquoise-surf: #00b2d6;
  --color-dark-gray: #404040;
  --color-neutral-gray: #6a6a6a;
  --color-alice-blue: #ebf7fb;
  --color-neutral-jet: #1c1c1c;
  --color-light-orange: #f89848;
  --color-border-gray: #d9d9d9;
  --color-grape: #7b0848;
  --color-bright-blue: #009bca;

  --default-font-family: "Inter";
  --font-family-inter: "Inter";

  --text-xs: 0.75rem;
  --text-xs--line-height: 1.25rem;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.375rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5rem;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.5rem;
  --text-xl--line-height: 2rem;
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 2.25rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.5rem;
  --text-4xl: 2.75rem;
  --text-4xl--line-height: 3.25rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
}

@layer components {
  /* Primary button styles */
  .primary-btn {
    background: linear-gradient(90deg, #7b0848 10%, #a41256 100%);
    @apply rounded-full cursor-pointer text-white
           text-xs font-bold px-3 py-1.5
           md:text-sm md:px-6 md:py-3
           inline-flex items-center justify-center gap-0 
           transition-all duration-800 ease-out;
  }
  .primary-btn-dot {
    @apply rounded-full bg-white
           opacity-0 h-0 w-0 m-0
           transition-opacity duration-800 ease-out;
  }

  .text-link-btn {
    @apply rounded-full z-10 cursor-pointer text-dark-blue
           relative overflow-hidden
           text-xs font-bold px-2 py-1
           inline-flex items-center justify-center gap-0
           border border-dark-blue/20
           md:text-sm md:px-4 md:py-2
           transition-all duration-500 ease-out
           before:absolute before:inset-0 
         before:bg-gray-400 before:-z-10
           before:w-0 before:rounded-l-full
           before:transition-all before:duration-500 before:ease-out;
  }
  .text-link-btn-dot {
    @apply rounded-full bg-turquoise-surf
           opacity-0 h-0 w-0 m-0
           transition-all duration-500 ease-out;
  }

  .sub-navigation-link {
    @apply rounded-full cursor-pointer text-dark-gray
           text-sm font-bold 
           inline-flex items-center justify-center gap-0
           transition-all duration-500 ease-out;
  }
  .sub-navigation-link-dot {
    @apply rounded-full bg-bright-blue 
           opacity-0 h-0 w-0 m-0
           transition-all duration-500 ease-out;
  }

  .secondary-btn {
    @apply bg-darker-blue text-white rounded-full text-sm font-bold px-6 py-3;
  }

  .outline-btn {
    @apply border border-dark-blue/30 bg-white text-dark-blue rounded-full text-base font-bold px-8 py-4;
  }

  .contact-us-btn {
    @apply rounded-full bg-neutral-jet/40 text-white text-sm font-bold px-4 py-2;
  }

  .card {
    @apply rounded-lg bg-white border p-4 gap-4 border-lighter-gray/7;
  }

  .card-shadow {
    box-shadow: 0px 2px 32px 12px #14142b08;
  }

  /* Navigation link styles */
  .nav-item {
    @apply flex h-full px-4 transition-all duration-500 ease-out;
  }
  .nav-item[data-active="true"] {
    @apply bg-darker-blue;
  }
  .nav-link {
    @apply relative flex items-center gap-0 text-sm font-bold text-white
           transition-all duration-500 ease-out;
  }
  .nav-link-dot {
    @apply h-0 w-0 m-0 rounded-full bg-turquoise-surf data-[active=true]:block
           opacity-0 transition-all duration-500 ease-out;
  }
  .nav-dropdown {
    @apply absolute opacity-0 pointer-events-none 
    invisible transition-all duration-500 ease-out 
    top-full left-0 right-0 px-24
    group-hover:opacity-100 group-hover:visible 
    group-hover:pointer-events-auto
    shadow-[0px_4px_32px_16px_#00000005] z-20;
  }
  .nav-dropdown-content {
    @apply bg-white shadow rounded-b-xl;
  }

  .search-dropdown {
    @apply absolute opacity-0 pointer-events-none 
    invisible transition-all duration-500 ease-out 
    top-full left-0 right-0
    group-hover:opacity-100 group-hover:visible 
    group-hover:pointer-events-auto
    shadow-[0px_4px_32px_16px_#00000005];
  }
  .search-dropdown-content {
    @apply bg-white shadow rounded-b-xl px-24 py-12;
  }

  .menu-item {
    @apply cursor-default rounded-full py-2 px-4 gap-2.5 flex items-center text-sm font-bold text-dark-blue tracking-[10%];
  }
  .menu-item.active {
    @apply bg-grape text-white;
  }
  .menu-item-content {
    @apply hidden;
  }
  .menu-item-content.active {
    @apply flex flex-col px-5 gap-6;
  }

  .show {
    @apply opacity-100 visible pointer-events-auto;
  }

  .combo-box-container {
    @apply relative;
  }
  .combo-box-input {
    @apply w-full bg-light-gray border border-dark-blue/10 
           rounded-full px-4 py-2.5 text-base  
         text-neutral-gray font-medium focus:outline-none;
  }
  .combo-box-button-icon {
    @apply absolute right-3 top-1/2 -translate-y-1/2;
  }
  .combo-box-options {
    @apply hidden absolute z-10 w-full mt-1 bg-white border rounded-lg shadow-lg;
  }

  /* Hover effect for devices that support hover like desktop and laptop */
  @media (hover: hover) {
    .primary-btn:hover {
      @apply gap-2;
    }
    .primary-btn:hover .primary-btn-dot {
      @apply opacity-100 h-2 w-2;
    }

    .text-link-btn:hover {
      @apply gap-2 border-dark-blue before:w-full before:bg-light-gray 
             before:transition-all before:duration-500 before:-z-10;
    }
    .text-link-btn:hover .text-link-btn-dot {
      @apply opacity-100 h-1.5 w-1.5;
    }

    .nav-item:hover {
      @apply bg-darker-blue;
    }
    .nav-item:hover .nav-link {
      @apply gap-2;
    }
    .nav-item:hover .nav-link .nav-link-dot {
      @apply opacity-100 h-1.5 w-1.5;
    }

    .sub-navigation-link:hover {
      @apply gap-2 text-dark-blue;
    }
    .sub-navigation-link:hover .sub-navigation-link-dot {
      @apply opacity-100 h-1.5 w-1.5;
    }

    .menu-item:hover {
      @apply bg-grape text-white;
    }
  }
}
